html, body { width: 100%; height: 100%; }
body { overflow: auto; }
.upApp {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-filter: blur(16px);
    filter: blur(16px);
    opacity: 0;
    transition: opacity 1s,-webkit-transform 1s,-webkit-filter 1s;
    transition: transform 1s,filter 1s,opacity 1s;
    transition: transform 1s,filter 1s,opacity 1s,-webkit-transform 1s,-webkit-filter 1s;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}
.upAppDone {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
}
.character-jpname { transition-delay: .5s; }

#player { position:fixed; left:0; top:0; width:100%; height:100%; display:none; z-index:50; background-color:#000; }
#player video { width:100%; height:auto; position:absolute; top:50%; left:0; -webkit-transform:translateY(-50%); transform:translateY(-50%); }
#player .control { position:absolute; width:100%; height:40px; left:0; bottom:0; padding:0 10px; box-sizing:border-box; transition:0.5s;}
#player .hidden{ opacity:0; }
#player .schedule { width:100%; height:3px; background:#330011; cursor:pointer; }
#player .schedule div { height:100%; background:red; width:0;  }
#player .control-button { width:100%; height:37px; line-height:37px; color:#fff; }
#player .control-button div,#player .control-button span { float:left; margin-left:20px; }
#player span { color:#fff; font-size:20px; margin-top:8px; cursor:pointer; }
#player .control-button .glyphicon-fullscreen { float:right; margin-right:20px; }
#player .control-button .volume { width:50px; height:3px;  margin-top:18px; margin-left:5px; cursor:pointer; background-color:#333;}
#player .control-button .volume div { height:100%; width:100%; background:#fff; margin-left:0; }
#player .control-button .divide,#player .control-button .alltime { margin-left:5px; margin-top:0; cursor:default; line-height:37px;}
#player .control-button .nowtime { margin-top:0; cursor:default; line-height:37px;}
#player .glyphicon-remove { position:absolute; top:10px; right:10px; }

@media screen and (max-width: 440px){
	#player .control { height:8vw; padding:0 2vw; }	
	#player .schedule { height:0.6vw; }
	#player .control-button { height:7.4vw;line-height:7.4vw; }
	#player span { font-size:4vw; margin-top:1.6vw; }
	#player .control-button .glyphicon-fullscreen { margin-right:4vw; }
	#player .control-button .volume { width:10vw; height:0.6vw;  margin-top:3.6vw; margin-left:1vw; }
	#player .control-button .nowtime { line-height:7.4vw; }
	#player .control-button .divide,#player .control-button .alltime { margin-left:1vw; line-height:7.4vw;}
	#player .glyphicon-remove { top:2vw; right:2vw; }
}

#header { width: 100%; height: 80px; position: fixed; top: 0; left: 0; z-index: 20; background-color: #fff; }
#header p { float: left; position: relative; }
#header #header-logo1 { height: 80px; width: 130px; }
#header #header-logo1 a { transition: 0.3s; }
#header #header-logo1 a:hover { opacity: 0.5; }
#header #header-logo1 img { width: 72px; height: auto; position: absolute; top: 50%; margin-top: -23px; left: 35px; }
#header #header-logo2 { height: 80px; width: 198px; }
#header #header-logo2 img { width: 198px; height: auto; position: absolute; top: 50%; margin-top: -23px; left: 0; }
#header .nav-switch { display: none; width: 15.46667vw; height: 15.46667vw; position: absolute; overflow: hidden; top: 0; right: 0; z-index: 50; background-color: #de1424; }
#header .nav-switch div { width: 7.73333vw; height: 4px; margin-top: -2px; background-color: #fff; position: absolute; left: 50%; margin-left: -3.86667vw; -webkit-transform-origin: center center; transform-origin: center center; transition: top 1s,-webkit-transform 1s; transition: top 1s,transform 1s; transition: top 1s,transform 1s,-webkit-transform 1s; }
#header .nav-switch div:nth-child(1) { top: 30%; }
#header .nav-switch div:nth-child(2) { top: 50%; }
#header .nav-switch div:nth-child(3) { top: 70%; }
#header .nav { float: right; margin-right: 35px; }
#header .nav li { height: 80px; margin-left: 35px; float: left; font-size: 20px; line-height: 80px; }
#header .nav a { color: #fc0d1b;  font-weight: 500; transition: .3s; }
#header .nav a:hover { opacity: 0.5; }

#mainvisual { padding-top: 80px; width: 100%; height: 100%; box-sizing: border-box; z-index: 1; position: relative; }
#mainvisual #mainvisual-logo1, #mainvisual #mainvisual-logo2 { display: none; }
#mainvisual .mainvisual-inner { box-sizing: border-box; width: 100%; height: 100%; position: relative; background: url(../img/pc/top_bg_pc.png) no-repeat center center; background-size: cover; }
#mainvisual .mainvisual-inner-kiki { width: 100%; height: 100%; background: url(../img/top_kiki.png) no-repeat center top 15px; background-size: auto 106.4%; }
#mainvisual .mainvisual-inner-title { width: 100%; position: absolute; z-index: 2; left: 0; bottom: 82px; text-align: center; }
.none { display: none; }
#mainvisual .mainvisual-inner-title h1 { width: 796px; height: 196px; margin: 0 auto; background: url(../img/pc/title_logo_pc.png) no-repeat center center; background-size: contain; }
#mainvisual .mainvisual-inner h2 { width: 64px; height: 340px; position: absolute; top: 46px; right: 51px; background: url(../img/pc/copy.png) no-repeat center center; background-size: contain; }
#mainvisual .mainvisual-inner h3 { width: 155px; height: 155px; position: absolute; bottom: -20px; right: 52px; background: url(../img/sp/badge.png) no-repeat center center; background-size: contain; }


#header .nav-switch-on div:nth-child(1) { top: 50%; -webkit-transform: rotate(-405deg); transform: rotate(-405deg); }
#header .nav-switch-on div:nth-child(2) { top: 50%; -webkit-transform: rotate(405deg); transform: rotate(405deg); }
#header .nav-switch-on div:nth-child(3) { top: -50%; -webkit-transform: rotate(720deg); transform: rotate(720deg); }
@media screen and (max-width: 1024px){
	#header .nav-switch { display: inline-block; width: 116px; height: 116px; }
	#header { height: 116px; background: rgba(255,255,255,0); width: 116px; top: 0; left: auto; right: 0; }	
	#mainvisual { padding-top: 0; }
	#header #header-logo1, #header #header-logo2 { display: none; }
	#header .nav { opacity: 0; visibility: hidden; transition: opacity .5s; position: fixed; top: 0; left: 0; bottom: auto; right: auto; width: 100%; height: 100%; background-color: rgba(229,0,16,0.9); z-index: 20; overflow: hidden; }
	#header .nav-on { opacity: 1; visibility: visible; }
	#header .nav ul { padding: 0; top: 50%; height: auto; margin-top: -30.66667vw; overflow: hidden; position: absolute; width: 100%; }
	#header .nav li a { display: block; height: 4.8vw; width: 100%; -webkit-transform: translateX(30%); transform: translateX(30%); transition: opacity .5s,-webkit-transform .5s; transition: transform .5s,opacity .5s; transition: transform .5s,opacity .5s,-webkit-transform .5s; visibility: hidden; opacity: 0; color:rgba(0,0,0,0);}
	#header .nav-on li a {  -webkit-transform: translateX(0); transform: translateX(0); visibility: visible; opacity: 1; }
	#header .nav li:nth-child(1) a { background: url(../img/sp/menu_movie.png) center center no-repeat; background-size:contain; }
	#header .nav li:nth-child(2) a { background: url(../img/sp/menu_story.png) center center no-repeat; transition-delay:0.1s; background-size:contain;}
	#header .nav li:nth-child(3) a { background: url(../img/sp/menu_character.png) center center no-repeat; transition-delay:0.2s; background-size:contain; }
	#header .nav li:nth-child(4) a { background: url(../img/sp/menu_gallery.png) center center no-repeat; transition-delay:0.3s; background-size:contain; }
	#header .nav li { width: 100%; float: none; margin: 8.4vw 0; height: auto; }
	#mainvisual #mainvisual-logo1 { position: absolute; width: 156px; height: 116px; top: 0; left: 0; z-index: 2; display: block; }
	#mainvisual #mainvisual-logo1 img { position: absolute; width: 127px; left: 14px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
	#mainvisual #mainvisual-logo2 { position: absolute; width: 287px; height: 116px; top: 0;  right: 116px; display: block; z-index: 1; }
	#mainvisual #mainvisual-logo2 img { position: absolute; width: 266px; top: 18px; left: 0; height: auto; }
	#mainvisual #mainvisual-logo1 a { transition: 0.3s; }
	#mainvisual #mainvisual-logo1 a:hover { opacity: 0.5; }
	#mainvisual .mainvisual-inner h2 { width: 48px; height: 255px; top: 149px; right: 38px; }
	#mainvisual .mainvisual-inner-title h1 { width: 640px; }
}
@media screen and (max-width: 780px) {
	#header {width:15.46667vw;height:15.46667vw;}
	#header .nav-switch { width: 15.46667vw; height: 15.46667vw; }	
	#mainvisual #mainvisual-logo1 { width: 20.8vw; height: 15.46667vw; }
	#mainvisual #mainvisual-logo1 img { width: 16.93333vw; left: 1.86667vw; }	
	#mainvisual #mainvisual-logo2 { width: 38.26667vw; height: 15.46667vw; right: 15.46667vw; }
	#mainvisual #mainvisual-logo2 img { width: 35.46667vw; top: 2.4vw; left: 0; }
	#mainvisual .mainvisual-inner h2 { width: 15.06667vw; height: 62.93333vw; background-image: url(../img/sp/copy.png); top: 19.86667vw; right: 2.26667vw; }
	#mainvisual .mainvisual-inner-title { bottom: 18.6667vw; }
	#mainvisual .mainvisual-inner-title h1 { width: 97.73333%; height: 26.8vw; background-image: url(../img/sp/title_logo_sp.png); }
	#mainvisual .mainvisual-inner { background-image: url(../img/sp/top_bg_sp.png); }
	#mainvisual .mainvisual-inner-kiki { background-position: center bottom; background-size: auto 86%; }
	#mainvisual .mainvisual-inner h3 { width: 26.26667vw; height: 29.6vw; bottom: -5.86667vw; right: 0; background-size: cover; background-position: center left; }
}

#statement { position: relative; width: 100%; background: #b7dae3 url(../img/pc/statement_bg_pc.png) no-repeat center bottom; background-size: 100% auto; background-attachment: fixed; overflow: hidden; }
#statement .statement-inner { position: relative; z-index: 1; width: 750px; margin: 0 auto; padding: 142px 0; }
#statement .statement-inner .statement-inner-text { width: 777px; height: 713px; background: url(../img/pc/statement_pc.png) no-repeat center center; background-size: contain; margin-bottom: 114px; }
#statement .statement-inner .statement-inner-catch { width: 623px; height: 203px; background: url(../img/pc/hungrudays_logo2_pc.png) no-repeat center center; background-size: contain; }
.sakura-bg-back { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../img/pc/pc_back.png) repeat-y center top; background-size: 1400px auto; }
.sakura-bg-middle { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../img/pc/pc_middle.png) repeat-y center top; background-size: 1400px auto; }
.sakura-bg-front { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../img/pc/pc_front.png) repeat-y center top; background-size: 1400px auto; }
@media screen and (max-width: 780px) {
	.sakura-bg-back { background-image: url(../img/sp/bg/sp_back.png); background-size: 100% auto; }
	.sakura-bg-middle { background-image: url(../img/sp/bg/sp_middle.png); background-size: 100% auto; }
	.sakura-bg-front { background-image: url(../img/sp/bg/sp_front.png); background-size: 100% auto; }
	#statement { background-image: url(../img/sp/statement_back_all_sp.png); background-size: cover; background-attachment: local; }	
	#statement .statement-inner { max-width: 89.6vw; padding-top: 17.73333vw; padding-bottom: 10.66667vw; }
	#statement .statement-inner .statement-inner-text { width: 89.46667vw; height: 126.26667vw; background-image: url(../img/sp/statement.png); margin-bottom: 10.66667vw; }
	#statement .statement-inner .statement-inner-catch { width: 70.26667vw; height: 22.8vw; }
}

#movie { width: 100%; height: auto; background-color: #ffcedc; box-sizing: border-box; padding: 56px 10px 0; overflow: hidden; }
#movie #movieTitle { width: 720px; height: 200px; margin: 0 auto; margin-bottom: 58px; background: url(../img/pc/title_movie.png) no-repeat center center; background-size: contain; }
#movie .movie-inner { max-width: 980px; width: 100%; margin: 0 auto; padding-bottom: 120px; }
#movie .movie-inner-image1 { background: #000 url(../img/sp/movie_thumb1.png) no-repeat center center; }
#movie .movie-inner-image2 { background: #000 url(../img/sp/movie_thumb2.png) no-repeat center center; margin-top: 92px; }
#movie .movie-inner-image { width: 100%; height: 550px; background-size: cover; position: relative; }
#movie .movie-inner-image h3 { width: 100%; font-size: 38px; color: #fff; text-align: center; line-height: 38px; position: absolute; top: 169px; left: 0; font-weight: 400; }
#movie .movie-inner-image a { display: block; width: 142px; height: 142px; position: absolute; top: 242px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); background: url(../img/sp/play.png) no-repeat center center; transition: 0.3s; background-size: 32px auto; }
#movie .movie-inner-image a div { box-sizing: border-box; border: 2px solid #fff; border-radius: 50%; width: 142px; height: 142px; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); transition: 0.3s; }
#movie .movie-inner-image a:hover { opacity: 0.5; }
#movie .movie-inner-image a:hover div { width: 160px; height: 160px; }
#movie .movie-inner-episode { width: 100%; height: 89px; overflow: hidden; background-color: #fff; position: relative; cursor: pointer; transition: 0.3s; }
#movie .movie-inner-episode:hover { opacity: 0.5; }
#movie .movie-inner-episode p { font-size: 28px; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); color: #fe6076; white-space: nowrap; }
#movie .movie-inner-episode .movie-inner-episode-mark { border-radius: 50%; overflow: hidden; width: 40px; height: 40px; position: absolute; top: 50%; right: 30px; -webkit-transform: translateY(-75%); transform: translateY(-75%); transition: 0.5s; }
#movie .movie-inner-episode .movie-inner-episode-mark span { position: absolute; height: 1px; margin-top: -.5px; background-color: #fe6076; transition: all .5s; }
#movie .movie-inner-episode .movie-inner-episode-mark span:nth-child(1) { position: absolute; top: 50%; left: 0; width: 142%; margin-left: -72%; -webkit-transform-origin: center center; transform-origin: center center; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
#movie .movie-inner-episode .movie-inner-episode-mark span:nth-child(2) { position: absolute; top: 50%; right: 0; width: 142%; margin-right: -72%; -webkit-transform-origin: center center; transform-origin: center center; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
#movie .movie-inner-episode-content { width: 100%; background-color: #fff; height: auto; overflow: hidden; height:0; }
#movie .movie-inner-episode-content .movie-episode-inner { padding-bottom:30px; }
#movie .movie-inner-episode-content p { width: 536px; margin: 0 auto; text-align: left; font-size: 18px; line-height: 2.1; color: #fe6076; }
#movie .movie-inner-episode-content .movie-inner-episode-content-close { transition: 0.3s; display: block; width: 536px; height: 70px; margin: 0 auto; box-sizing: border-box; border: 1px solid #fe6176; margin-top: 30px; overflow: hidden; text-align: center; line-height: 70px; color: #fe6176; background: url(../img/sp/close.png) no-repeat center right 21px; background-size: 27px auto; font-size: 18px; }
#movie .movie-inner-episode .switch-on { transform: translateY(-50%) rotate(-180deg); }
#movie .movie-inner-episode .switch-on span:nth-child(1) { left: 50%; }
#movie .movie-inner-episode .switch-on span:nth-child(2) { right: 50%; }
#scrollimages { width: 100%; height: 442px; background:#fff url(../img/sp/scroll.png) repeat-X left center; background-size:auto 100%;}


@media screen and (max-width: 780px){	
	#movie { padding: 0 4vw; padding-top: 7.46667vw; }	
	#movie #movieTitle { width: 96%; height: 26.66667vw; margin-bottom: 7.3333vw; }
	#movie .movie-inner { padding-bottom: 16vw; }	
	#movie .movie-inner-image1 { height: 56.26667vw; }	
	#movie .movie-inner-image2 { height: 56.26667vw; margin-top: 11.86667vw; }	
	#movie .movie-inner-image h3 { font-size: 5.06667vw; top: 14vw; }
	#movie .movie-inner-image a { top: 23.46667vw; width: 18.93333vw; height: 18.93333vw; background-size: 4.26667vw auto; }
	#movie .movie-inner-image a div { width: 18.93333vw; height: 18.93333vw; border: 0.26667vw solid #fff; }
	#movie .movie-inner-episode { height: 14.26667vw; }
	#movie .movie-inner-episode p { font-size: 3.73333vw; }
	#movie .movie-inner-episode .movie-inner-episode-mark { width: 5.46667vw; height: 5.46667vw; }
	#movie .movie-inner-episode-content .movie-episode-inner { padding-bottom:7.2vw; }
	#movie .movie-inner-episode-content p { width: 85vw; font-size: 3.46667vw; }
	#movie .movie-inner-episode-content .movie-inner-episode-content-close { font-size: 3.46667vw; line-height: 14.13333vw; width: 84vw; height: 14.13333vw; margin-top: 7.2vw; background-position: center right 4.66667vw; background-size: 5.46667vw auto; }
	#scrollimages { height: 56.26667vw; }
}

#story { width: 100%; height: 2274px; background: #b7dae3 url(../img/pc/statement_bg_pc.png) center bottom no-repeat; background-size: 100% auto; background-attachment: fixed; box-sizing: border-box; padding-top: 60px; overflow: hidden; position: relative; }
#story #storyTittle { width: 720px; height: 200px; margin: 0 auto; background: url(../img/pc/title_story.png) no-repeat center center; background-size: contain; position: relative; z-index: 1; }
#story p { position: absolute; left: 50%; margin-left: -255px; z-index: 1; }
#story .story-text-small { line-height: 2.1; font-size: 18px; margin-top: -10px; }
#story .story-text-middle { line-height: 1.63; font-size: 22px; margin-top: -7px; }
#story .story-text-large { line-height: 1; font-size: 30px; }
#story p:nth-of-type(1) { top: 317px; }
#story p:nth-of-type(2) { top: 533px; }
#story p:nth-of-type(3) { top: 1109px; }
#story p:nth-of-type(4) { top: 1253px; }
#story p:nth-of-type(5) { top: 1361px; }
#story img { position: absolute; z-index: 1; left: 50%; }
#story img:nth-of-type(1) { width: 568px; top: 644px; margin-left: -486px; }	
#story img:nth-of-type(2) { width: 329px; top: 889px; margin-left: 164px; }
#story img:nth-of-type(3) { width: 329px; top: 1450px; margin-left: 164px; }
#story img:nth-of-type(4) { width: 280px; top: 1568px; margin-left: -318px; }
#story img:nth-of-type(5) { width: 586px; top: 1826px; margin-left: -207px; }


@media screen and (max-width: 780px){
	#story { padding-top: 8vw; height: 371.06667vw; background-image: url(../img/sp/story_bg_all_sp.png); background-size: cover;  background-attachment:local; }
	#story #storyTittle { width: 96%; height: 26.66667vw; margin-bottom: 7.73333vw; }
	#story .story-text-small { font-size: 3.73333vw; margin-top: -2vw; }
	#story .story-text-middle { font-size: 4.53333vw; margin-top: -1.46667vw; }
	#story .story-text-large { font-size: 6vw; }
	#story p {  margin-left: 0; width: 88.8vw; left: 5.6vw; }
	#story p:nth-of-type(1) { top: 42.66667vw; }
	#story p:nth-of-type(2) { top: 100.26667vw; }
	#story p:nth-of-type(3) { top: 200vw; letter-spacing: -1px; }
	#story p:nth-of-type(4) { top: 222.26667vw; }
	#story p:nth-of-type(5) { top: 244.13333vw; }
	#story img { left: 0; }
	#story img:nth-of-type(1) { width: 75.73333vw; top: 121.7333vw; margin-left: 0; }
	#story img:nth-of-type(2) { width: 43.86667vw; left: auto; right: 3.86667vw; top: 169.2vw; margin-left: 0; }
	#story img:nth-of-type(3) { width: 43.86667vw; left: auto; right: 3.86667vw; top: 261.46667vw; margin-left: 0; }
	#story img:nth-of-type(4) { width: 37.73333vw; left: 7.06667vw; top: 282.53333vw; margin-left: 0; }
	#story img:nth-of-type(5) { width: 78.13333vw; left: auto; right: 4.13333vw; top: 311.06667vw; margin-left: 0; }	
	.nosp {display:none;}	
}

#character { width: 100%; height: auto; background-color: #fbf3d5; box-sizing: border-box; padding: 86px 10px 110px; }
#character #characterTitle { width: 720px; height: 200px; margin: 0 auto; background: url(../img/pc/title_character.png) center center no-repeat; background-size: contain; }
#character>div::after { content: ''; height: 0; display: block; visibility: hidden; clear: both; }
#character #characterKIKI { max-width: 980px; width: 100%; margin: 0 auto; }
#character .character-kiki-mainimg { width: 329px; float: left; }
#character .character-kiki-mainimg img { margin-top: 6px; }
#character .character-kiki-name { width: 536px; height: 183px; float: right; position: relative; }
#character .character-kiki-name img { position: absolute; left: 0; top: 87px; }
#character p { font-size: 18px; line-height: 2; }
#character .character-kiki-text { width: 536px; float: right; padding-top: 16px; }
#character .character-kiki-face { width: 536px; float: right; text-align: center; position: relative; }
#character .character-kiki-cast { width: 536px; float: right; margin-top: 10px; box-sizing: border-box; position: relative; }
#character .character-kiki-casttext { width: 536px; float: right; margin-top: 10px; box-sizing: border-box;  position: relative; }
#character #characterTOMBO { max-width: 980px; width: 100%; margin: 0 auto; margin-top: 70px; }
#character .character-tombo-mainimg { width: 269px; float: right; }
#character .character-tombo-name { width: 536px; height: 163px; float: left; position: relative; }
#character .character-tombo-name img { position: absolute; left: 0; top: 55px; }
#character .character-tombo-text { width: 536px; float: left; padding-top: 16px; }
#character .character-tombo-face { width: 536px; float: left; text-align: center; position: relative; padding: 34px 0 28px; }
#character .character-tombo-cast { width: 536px; float: left; margin-top: 10px; box-sizing: border-box; position: relative; }
#character .character-tombo-casttext { width: 536px; float: left; margin-top: 10px; box-sizing: border-box; position: relative; }
#character #characterJIJI { max-width: 980px; width: 100%; margin: 0 auto; margin-top: 58px; }
#character .character-jiji-mainimg { width: 293px; float: left; }
#character .character-jiji-name { width: 536px; height: 150px; float: right; position: relative; }
#character .character-jiji-name img { position: absolute; left: 0; top: 42px; }
#character .character-jiji-text { width: 526px; float: right; padding-top: 16px; }

@media screen and (max-width: 1024px) {
	#character .character-kiki-name { width: 54.69388%; }
	#character .character-kiki-text { width: 54.69388%; }
	#character .character-kiki-face { width: 54.69388%; margin-top: 0; }
	#character .character-kiki-cast { width: 54.69388%; }
	#character .character-kiki-casttext { width: 54.69388%; }
	#character .character-tombo-name { width: 54.69388%; }
	#character .character-tombo-text { width: 54.69388%; }
	#character .character-tombo-face { width: 54.69388%; margin-top: 0; }
	#character .character-tombo-cast { width: 54.69388%; }
	#character .character-tombo-casttext { width: 54.69388%; }
	#character .character-jiji-name { width: 54.69388%; }
	#character .character-jiji-text { width: 54.69388%; }
}

@media screen and (max-width: 780px) {
	#character p { font-size: 3.46667vw; line-height: 2.23; }
	#character { padding: 11.46667vw 0 11.46667vw; }
	#character #characterTitle { width: 96%; height: 26.66667vw; }
	#character .character-kiki-mainimg { width: 45.06667vw; }
	#character .character-kiki-mainimg img { margin-top: 11.46667vw; width: 43.46667vw; }
	#character .character-kiki-name { width: 51.2%; height: 24.4vw; float: left; }
	#character .character-kiki-name img { top: 11.46667vw; width: 30.4vw; height: auto; }
	#character .character-kiki-text { width: 51.2%; float: left; }
	#character .character-kiki-face { width: 51.2%; float: left; margin-top:4vw; }
	#character .character-kiki-face img { height: 47.2vw; width: auto; }
	#character .character-kiki-cast { clear: both; float: left; width: 100%; padding-left: 5.6vw; margin-top: -1vw; }
	#character .character-kiki-cast img { height: 18.13333vw; width: auto; }
	#character .character-kiki-casttext { width: 100%; clear: both; float: left; padding-left: 5.6vw; padding-right: 5.6vw; }
	#character #characterTOMBO { margin-top: 9.33333vw; }
	#character .character-tombo-mainimg { width: 35.86667%;; }
	#character .character-tombo-mainimg img { width: 100%;; }
	#character .character-tombo-name { width: 50.66667%;; height: 24.4vw; float: left; margin-left: 5.6%; }
	#character .character-tombo-name img { top: 7.33333vw; width: 50.13333vw; height: auto; }
	#character .character-tombo-text { width: 50.13333vw; float: left; margin-left: 5.6%; }
	#character .character-tombo-face { width: 50.13333vw; float: left; margin-left: 5.6%; padding: 4.53333vw 0 0 0; }
	#character .character-tombo-face img { height: 40.93333vw; width: auto; }
	#character .character-tombo-cast { clear: both; float: left; width: 100%; padding-left: 5.6vw; }
	#character .character-tombo-cast img { height: 18.13333vw; width: auto; }
	#character .character-tombo-casttext { width: 100%; clear: both; float: left; padding-left: 5.6vw; padding-right: 5.6vw; }
	#character #characterJIJI { margin-top: 12.4vw; }
	#character .character-jiji-mainimg { width: 45.06667%; }
	#character .character-jiji-mainimg img { margin-left: .4vw; width: 39.06667vw; }
	#character .character-jiji-name { width: 51.2%; height: 20vw; float: left; }
	#character .character-jiji-name img { top: 5.6vw; width: 29.73333vw; height: auto; }
	#character .character-jiji-text { width: 51.2%; float: left; }
}

#gallery { width: 100%; height: auto; background-color: #fff; padding: 64px 0 64px; box-sizing: border-box; position: relative; }
#gallery #galleryTitle { width: 720px; height: 200px; margin: 0 auto; background: url(../img/pc/title_gallery.png) no-repeat center center; background-size: contain; }
#gallery #gallery-slide { overflow:hidden; width: 708px; height: 1003px; margin: -62px auto 0; position: relative; z-index: 1;  box-sizing: border-box; }
#gallery #gallery-slide div { width: 100%; height: 100%; }
#gallery #gallery-slide ul { width: 1600%; height: 100%; }
#gallery #gallery-slide li { width: 6.25%; height: 100%; float: left; }
#gallery #gallery-slide img { width: 100%; height: 100%; }
#gallery #gallery-left { width: 80px; height: 157px; position: absolute; transition: 0.3s; left: 0; top: 623px; background: url(../img/pc/gallery/gallery_left.png) no-repeat center center; background-size: cover; display: block; }
#gallery #gallery-right { width: 80px; height: 157px; position: absolute; right: 0; transition: 0.3s; top: 623px; background: url(../img/pc/gallery/gallery_right.png) no-repeat center center; background-size: cover; display: block; }
#gallery #gallery-left:hover { opacity: 0.5; }
#gallery #gallery-right:hover { opacity: 0.5; }
#gallery #gallery-dots { width: 100%; text-align: center; margin-bottom: 16px; position: relative; font-size: 0; }
#gallery #gallery-dots li { width: 10px; height: 10px; background-color: #dbdbdb; display: inline-block; margin: 0 10px; }
#gallery #gallery-dots .active { background-color: #cf0d1b; }
#gallery #gallery-count { width: 42px; height: 42px; margin: 0 auto; position: relative; overflow: hidden; }
#gallery #gallery-count #gallery-count-numer { text-align: center; width: 24px; position: absolute; left: 0; top: 0; color: #cf0d1b; line-height: 1; font-size: 16px; }
#gallery #gallery-count #gallery-count-denom { text-align: center; width: 24px; position: absolute; right: 0; bottom: 0; color: #cf0d1b; line-height: 1; font-size: 16px; }
#gallery #gallery-count #gallery-count-bar { width: 100px; height: 1px; background-color: #cf0d1b; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%) rotate(-45deg); transform: translate(-50%,-50%) rotate(-45deg); }

@media screen and (max-width: 780px) {
	#gallery { padding-top: 2%; padding-bottom: 15.73333%; }
	#gallery #galleryTitle { width: 96%; height: 26.66667vw; }
	#gallery #gallery-slide { margin-top: -8.13333vw; width: 78.66667vw; height: 111.46667vw; }
	#gallery #gallery-left { display:none; }
	#gallery #gallery-right { display:none; }
	#gallery #gallery-dots { margin-bottom: 2.93333vw; }
	#gallery #gallery-dots li { width: 1.86667vw; height: 1.86667vw; margin: 0 1.86667vw; }
	#gallery #gallery-count { width: 8vw; height: 8vw; font-size: 2.93333vw; }
	#gallery #gallery-count #gallery-count-numer { width: 4.53333vw; }
	#gallery #gallery-count #gallery-count-denom { width: 4.53333vw; }
	#gallery #gallery-count #gallery-count-bar{ width: 11.46667vw; }
}

#staff { width: 100%; height: auto; background: #b7dae3 url(../img/pc/staff_bg_pc.png) no-repeat center bottom; background-attachment: fixed; background-size: 100% auto; box-sizing: border-box; padding: 120px 10px 155px; overflow: hidden; position: relative; }
#staff #staff-music { width: 100%; max-width: 940px; margin: 0 auto; text-align: center; margin-bottom: 100px; position: relative; z-index: 1; }
#staff #staff-music h3 { font-size: 32px; margin-bottom: 9px; line-height: 1; }
#staff #staff-music h2 { font-size: 52px; margin-bottom: 15px; line-height: 1; font-family: 'EB Garamond',serif; }
#staff #staff-music .staff-music-title { font-size: 28px; margin-bottom: 15px; line-height: 1; }
#staff #staff-music .staff-music-credit { font-size: 16px; margin-bottom: 40px; line-height: 1.2; }
#staff h3, #staff h2 { font-weight: 400; }
#staff h3 { color: #db1222; }
#staff #staff-music .staff-music-text { width: 100%; max-width: 980px; margin: 0 auto; margin-top: 40px; }
#staff .staff-text { font-size: 16px; line-height: 2.25; text-align: left; }
#staff .staff-person { width: 100%; max-width: 940px; margin: 0 auto; margin-bottom: 100px; position: relative; z-index: 1; }
#staff .staff-person-name { width: 329px; float: left; text-align: center; }
#staff .staff-person-name h3 { font-size: 32px; margin-bottom: 9px; line-height: 1; }
#staff .staff-person-name h2 { font-size: 52px; margin-bottom: 15px; line-height: 1; }
#staff .staff-person-text { float: right; width: 557px; margin-top: -7px; }
#staff .staff-person::after { content: ''; display: block; height: 0; visibility: hidden; clear: both; }
#staff .staff-title { width: 796px; height: 196px; margin: 0 auto; background: url(../img/pc/title_logo_pc.png) no-repeat center center; background-size: contain; position: relative; z-index: 1; }

#footer { width: 100%; height: 80px; text-align: center; line-height: 80px; font-size: 20px; background-color: #cf0d1b; color: #fff; }

@media screen and (max-width: 780px) {
	#staff { padding-top: 16vw; padding-bottom: 11.33333vw; background-image: url(../images/sp/staff_bg_sp.png) center bottom; background-size: 100% auto; background-attachment: local; }
	#staff #staff-music { margin-bottom: 8vw; }
	#staff #staff-music h3 { font-size: 6.26667vw; margin-bottom: 2.66667vw; }
	#staff #staff-music h2 { font-size: 9.6vw; margin-bottom: 3.2vw; }
	#staff #staff-music .staff-music-title { font-size: 5.46667vw; margin-bottom: 2.13333vw; }
	#staff #staff-music .staff-music-credit { font-size: 2.93333vw; margin-bottom: 5.33333vw; }
	#staff .staff-music-img img { width: 59.06667vw; }
	#staff #staff-music .staff-music-text { width: 89.06667%; margin-top: 9.33333vw; }
	#staff .staff-person { margin-bottom: 8vw; }
	#staff .staff-person-name { width: 100%;  margin-bottom: 6vw; }
	#staff .staff-person-name h3 { font-size: 6.26667vw; margin-bottom: 2.66667vw; }
	#staff .staff-person-name h2 { font-size: 9.6vw; margin-bottom: 3.2vw; }
	#staff .staff-person-text { width: 89.06667%; float: none; margin: 0 auto; }
	#staff .staff-title { width: 97.73333%; height: 26.8vw; background-image: url(../img/sp/title_logo_sp.png); }
	#footer  { height: 10vw; font-size:3vw; line-height:10vw; }
}











