@font-face {
    font-family: "source-han-serif-japanese";
    src: url("../font/SourceHanSerifJP-Medium.otf");
}
@font-face {
    font-family: "EB Garamond";
    src: url("../font/EBGaramond-Regular.ttf"),
		 url("../font/ebgaramond-regular-webfont.woff");
}



body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
form {
	margin: 0;
}
ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	border: none;
	vertical-align: top;
}
input,
textarea {
	margin: 0;
	padding: 0;
	outline: none;
}
select {
	outline:none;
}
textarea {
	resize: none;
	overflow: auto;
}
table {
	border-collapse: collapse;
}
th,
td {
	padding: 0;
}


a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
button {
  -webkit-appearance: none;
  border-radius: 0;
}
html{
	font-family: sans-serif;	
}
/*h2 {font-family:'EB Garamond',serif;}*/
body {
	font-family:source-han-serif-japanese,Georgia,'Hiragino Mincho ProN','Yu Mincho',serif;
}
body * {
  -webkit-user-select: none; 
  -webkit-text-size-adjust: 100%;
}

